.header {
   &__logo {
      text-align: center;
      padding: 10px;
      margin-top: 10px;
      &__arrow {
         color: black;
         float: left;
         font-size: 1.2rem;
         margin-top: 5px;
         font-size: bold;
      }
   }
}
