@keyframes dish-delay {
   from {
      transform: translateY(10px);
      opacity: 0;
   }
   to {
      transform: translateY(0px);
      opacity: 1;
   }
}

@keyframes loader-disapear {
   to {
      opacity: 0;
      z-index: -10;
   }
}

@keyframes bounce {
   0% {
      transform: translateY(0);
   }
   40% {
      transform: translateY(23px);
   }
   60% {
      transform: translateY(-25px);
   }
   80% {
      transform: translateY(0);
   }
}

@keyframes rotate {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(360deg);
   }
}

@keyframes description-hidden {
   0% {
      width: 70%;
   }
   100% {
      width: calc(70% - 30px);
   }
}

@keyframes check-slide {
   from {
      right: -60px;
   }
   to {
      right: 0px;
   }
}

@keyframes price-slide {
   from {
      right: 15px;
   }
   to {
      right: 75px;
   }
}
