@mixin button {
   background: linear-gradient($secondary-color, $primary-color);
   border: none;
   height: 2.5rem;
   color: #fff;
   border-radius: 25px;
   padding: 0 20px;
   cursor: pointer;
   transform: scale(1);
   transition: 0.3s;
   &:hover {
      transform: scale(1.1);
      opacity: 0.8;
      @include shadow-box-hover;
   }
}

@mixin shadow-box-hover {
   box-shadow: -2px -2px 2px 1px $shadow-hover-color, 2px -2px 2px 1px $shadow-hover-color, 2px 2px 2px 1px $shadow-hover-color, -2px 2px 2px 1px $shadow-hover-color;
}

@mixin shadow-box {
   box-shadow: -2px -2px 2px 0px $dark-bg-color, 2px -2px 2px 0px $dark-bg-color, 2px 2px 2px 0px $dark-bg-color, -2px 2px 2px 0px $dark-bg-color;
}
