$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$light-bg-color: #f6f6f6;
$dark-bg-color: #eaeaea;
$icon-color: #7e7e7e;
$shadow-hover-color: #d9dcdb;
$new-color: #99e2d0;
$dark-new-color: darken($new-color, 35%);
$footer-color: #353535;

$body-font: roboto, sans-serif;
$logo-font: shrikhand, sans-serif;
